@charset "utf-8";
@import url(../font/Paperlogy/stylesheet.css);
@import url(../font/Pretendard/stylesheet.css);

body {
    font-family: Pretendard;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: -0.75px;
    color: #333;
}
.footer {
    max-width: 1024px;
    width: 100%;
    padding: 30px 40px 100px;
    background-color: #ddd;
}
.footer .top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}
.footer .top .text {
    font-size: 15px;
    color: #777;
    line-height: 1.3;
}
.footer .top .text a {
    text-decoration: underline;
}
.footer .top .text p {
    margin-top: 0;
}
.footer .top .text .detail {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0;
}
.footer .top .text .detail span {
    font-size: 16px;
    color: #777;
}
.footer .top .text .detail img {
    width: 20px;
    object-fit: cover;
}
.footer .top .text .detail .before {
    display: none;
}
.footer .top .text .detail .before.active {
    display: block;
}
.footer .top .text .detail .after {
    display: none;
}
.footer .top .text .detail .after.active {
    display: block;
}
.footer .top .text .detail_text {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    display: none;
}
.footer .top .text .detail_text.active {
    display: flex;
}
.footer .top .text .detail_text ul {
    display: flex;
    gap: 20px;
}
.footer .top .text .detail_text ul li:first-child {
    position: relative;
}
.footer .top .text .detail_text ul li:first-child::after {
    content: '';
    display: block;
    width: 1px;
    height: 9px;
    background-color: #777;
    position: absolute;
    top: 23%;
    right: -12px;
}
.footer .top .text .detail_text ul:nth-of-type(2) li:nth-of-type(2) {
    position: relative;
}
.footer .top .text .detail_text ul:nth-of-type(2) li:nth-of-type(2)::after {
    content: '';
    display: block;
    width: 1px;
    height: 9px;
    background-color: #777;
    position: absolute;
    top: 23%;
    right: -12px;
}
.footer .top .footer_logo {
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
}
.footer .top .footer_logo a {
    display: block;
    height: 100%;
}
.footer .top .footer_logo a img {
    height: 100%;
    object-fit: cover;
}
.footer .sns {
    display: flex;
    justify-content: flex-start;
    gap: 16px;
    margin: 40px 0 20px;
}
.footer .sns li {
    width: 40px;
    height: 40px;
}
.footer .sns li a {
    display: block;
    width: 100%;
    height: 100%;
}
.footer .sns li a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.footer .low {
    display: flex;
    gap: 20px;
    color: #777;
    font-size: 15px;
}
.footer p:last-child {
    color: #777;
    font-size: 15px;
    margin-top: 6px;
}
.nav_bar {
    max-width: 1024px;
    width: 100%;
    height: 60px;
    background-color: #ffffffe7;
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    padding: 6px 200px;
    z-index: 999;
}
.nav_bar ul {
    display: flex;
    justify-content: space-between;
}
.nav_bar ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav_bar ul li a img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}
.nav_bar ul li a span {
    font-size: 14px;
    font-weight: 500;
}

@media screen and (max-width:550px) {
    .nav_bar {
        padding: 6px 30px;
    }
    .footer {
        padding: 24px 20px 90px;
    }
    .footer .top .text {
        font-size: 13px;
        line-height: 1.4;
    }
    .footer .top .text .detail {
        gap: 4px;
    }
    .footer .top .text .detail span {
        font-size: 14px;
    }
    .footer .top .text .detail img {
        width: 16px;
        object-fit: cover;
    }
    .footer .top .footer_logo {
        height: 25px;
    }
    .footer .sns {
        justify-content: center;
        margin: 30px 0 20px;
    }
    .footer .sns li {
        width: 35px;
        height: 35px;
    }
    .footer .low {
        font-size: 13px;
        gap: 10px;
    }
    .footer p:last-child {
        font-size: 13px;
        margin-top: 0;
    }
}
@media screen and (min-width:551px) and (max-width:875px) {
    .nav_bar {
        padding: 6px 80px;
    }
}
