@charset "utf-8";
@import url(reset.css);
@import url(common.css);
@import url(../font/Pretendard/stylesheet.css);
@import url(../font/Paperlogy/stylesheet.css);

body {
    font-family: Pretendard;
    font-weight: 400;
    color: #333;
    line-height: 1.3;
}
#wrap {
    max-width: 1024px;
    margin: 0 auto;
}
.header {
    width: 100%;
    height: 60px;
}
.header .inner {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}
.header .inner h2 {
    font-size: 24px;
    font-weight: 500;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.header .inner .icon {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .inner .icon img {
    display: block;
    width: 24px;
    object-fit: cover;
}
.nav {
    display: flex;
    gap: 90px;
    justify-content: center;
    border-bottom: 1px solid #ddd;
}
.nav a h3 {
    font-size: 18px;
    padding: 6px 4px 10px;
    color: #999;
}
.nav a h3.active {
    color: #333;
    font-weight: 600;
    border-bottom: 3px solid #E4007F;
}
.section-01 .wrapper {
    width: 100%;
    /* background-color: #eee; */
}
.section-01 .wrapper .calendar-header {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 40px 30px 20px;
    justify-content: space-between;
    position: relative;
}
.section-01 .calendar-header .icons {
    display: flex;
    width: 100%;
    gap: 140px;
    justify-content: center;
    align-items: center;
}
.section-01 .calendar-header .icons img {
    display: block;
    height: 24px;
    width: 24x;
    object-fit: cover;
    margin: 0 1px;
    cursor: pointer;
    user-select: none;
    border-radius: 50%;
    cursor: pointer;
}
.section-01 .current-date {
    font-size: 24px;
    font-weight: 600;
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translateX(-50%);
}
header .current-date {
    font-size: 1.45rem;
    font-weight: 500;
}
.section-01 .calendar {
    padding: 20px;
}
.section-01 .calendar ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
}
.section-01 .calendar .days {
    margin-bottom: 20px;
}
.section-01 .calendar li {
    color: #333;
    /* for black */
    /* color: #fff; */
    width: calc(100% / 7);
    font-size: 16px;
}
.section-01 .calendar .weeks {
    margin-bottom: 20px;
}
.section-01 .calendar .weeks li {
    cursor: default;
}
.section-01 .calendar .days li {
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin-top: 30px;
}
.section-01 .days li.inactive {
    color: #aaa;
}
.section-01 .days li.active {
    color: #E4007F;
    font-weight: 700;
    font-size: 18px;
    margin-top: 28px;
}
.section-01 .days li::before {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 40px;
    width: 40px;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
/* .days li.active::before {
    background: #E4007F;
} */
.section-01 .days li:not(.active):hover::before {
    background: #f2f2f2;
    /*  for black */
    /*  background: #333; */
}
.section-01 .box {
    display: flex;
    gap: 6px;
    align-items: center;
    margin: 16px 30px;
}
.section-01 .box .circle {
    width: 16px;
    height: 16px;
    background-color: #e4007db6;
    border-radius: 50%;
}
.section-01 .box p {
    font-size: 15px;
}
.section-02 .inner {
    width: 100%;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    box-shadow: 0 -4px 10px rgb(0, 0, 0, 0.04);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    margin-top: 50px;
}
.section-02 a {
    width: 36px;
    height: 36px;
    display: block;
}
.section-02 a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin-top: 6px;
}
.section-02 .inner h3 {
    font-size: 24px;
    font-weight: 600;
}